$breakpoints: (
  'sp': 'screen and (max-width: 480px)',
  'tab': 'screen and (max-width: 768px)',
  'pc': 'screen and (max-width: 1024px)',
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* 共通部品 */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #382710;
  background-color: #fcfaf2;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

/* ここから記述します。 */
/*******************************
共通パーツの指定
*******************************/
.u-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
}
@include mq('tab'){
    .u-wrapper{
        padding: 0;
    }
}

.u-sectionHeading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.u-sectionTitle {
  font-weight: 500;
  font-size: 32px;

  @include mq(tab) {
    font-size: 24px;
  }
}
.firstTitle {
    font-weight: bold;
}
/********
header
*********/
.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center ;
}

.header__list {
    display: flex;
    gap: 24px;
    text-align: center;
}
@include mq('tab'){
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .header__logo {
        width: 120px;
        margin: 10px 30px;
        justify-self: start;
    }
    .header__list {
        background-color: #F4EED8;
        width: 100%;
        padding: 8px 30px;
        font-size: 15px;
        font-weight: bold;
        justify-content: center;
    }
}
/*********
first view
***********/
.firstview {
    position: relative;
}
.firstview__img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.firstview__title {
    background-color: rgba($color: #fffdf7  , $alpha: 0.9);
    position: absolute;
    font-size: 40px;
    text-align: center;
    padding: 8px 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
@include mq('tab') {
    .firstview__img {
        height: auto;
        max-width: 100%;
    }
    .firstview__title {
        font-size: 22px;
         white-space: nowrap;
    }
}
/*******
main left
********/
.container {
    display: flex;
    gap: 40px;
}
.main {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.news {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D4CDB3;
}

.news__box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
}
.news__pickup {
    width: 100%;
}
.news__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
.news__img {
    width: 100%;
}
.news__title {
    font-size: 15px;
    font-weight: bold;
}
.news__top {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.news__content {
    display: flex;
    gap: 24px;
}
.news__topimg {
    max-width: 640px;
}
@include mq('tab') {
    .container {
        flex-direction: column;
        padding: 50px 0;
    }
    .main {
        width: 100%;
        padding: 0 10px;
    }
    .news__content {
        flex-direction: column;
    }
    .news__toptext {
        font-size: 15px;
    }
}
/* pick up */
.pickup {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.pickup__content {
    display: flex;
    gap: 24px;
}
.pickup__box{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
}
.pickup__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
.pickup__title {
    font-size: 15px;
    font-weight: bold;
}
.pickup__img {
    width: 100%;
    max-width: 640px;
}
.pickup__topimg {
    max-width: 640px;
}
.more {
    display: flex;
    margin-left: auto;
}
@include mq('tab'){
    .pickup__content {
        flex-direction: column;
    }
    .pickup {
        border-bottom: 1px solid #D4CDB3;
        padding-bottom: 30px;
    }
}
/*******
category
********/
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 300px;
}
.category__linktext {
    margin-left: auto;
    margin-bottom: 16px;
}
.category__text {
    font-size: 14px;
}
.category__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.category__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}
.category__item {
    border: 1px solid #d4cdb3;
    border-radius: 10px;
    padding: 11px 6px;
}
.category__btnlinktext {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.05em;
}
.category__btnlinkimg {
    width: 100%;
}
.category__content {
        display: flex;
    flex-direction: column;
    gap: 24px;
}
.category__search {
    border: 1px solid #D4CDB3;
    border-radius: 5px;
    max-width: 300px;
    padding: 0;
}
.category__search form {
    display: flex;
    width: 100%;
}
.search__input {
    padding: 8px;
    flex: 1;
    background-color: #ffffff;
}
.search__button {
    background-color: #FFF2BF;
    padding: 10px;
}
@include mq('tab') {
    .sidebar {
        width: 100%;
        max-width: none;
        padding: 50px 15px;
    }
}
/************
popularty
**************/

.popularity__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popularity__item {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #E8E3D2;
    padding: 14px 0;
    font-size: 14px;
    gap: 20px;
}
.popularity__item:first-child {
        border-top: 1px solid #E8E3D2;
 }
.popularity__linktext {
    margin-left: auto;
    margin-bottom: 16px;
}
@include mq('tab'){
    .popularity__item{
        font-size: 16px;
    }
}
/***************
post
****************/
.post__linktext {
    margin-left: auto;
    margin-bottom: 16px;
}
.iframe {
   width: 100% !important;
}
@include mq('tab'){
    .iframe {
        margin: 0 auto;
    }
}
/****************
footer
******************/
.footer{
    background-color: #ffffff;
}
.footer__contents {
    padding: 42px 100px;
    display: flex;
    gap: 160px;
    margin: 0 auto;
    max-width: 1280px;
}
.footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__center {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__item {
    white-space: nowrap;
}
.footer__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__title{
    border-bottom: 0.5px solid #B2572F;
    padding-bottom: 4px;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
}
@include mq('tab'){
    .footer__contents {
        flex-direction: column;
        gap: 40px;
        padding: 48px 30px;
    }
    .footer__left {
        order: 3;
    }
    .footer__center{
        order: 2;
    }
    .footer__right{
        order: 1;
    }
}